@model List<Review>

@{
    ViewData["Title"] = "Books";
}


@foreach(Review review in Model)
{
    <p>
        <strong class="m-3">Title:</strong>
        @review.BookTitle<br />
        <strong class="m-3">Author:</strong>
        @review.AuthorName<br />
        <strong class="m-3">Reviewer:</strong>
        @review.Reviewer.Name<br />
        <strong class="m-3">Review Date:</strong>
        @review.ReviewDate<br />
        <strong class="m-3">Review:</strong>
        @review.ReviewText<br />
    </p>
}